<%= _.template(require('./includes/header.html'))() %>
    <div class="content content--margin">
        <%= _.template(require('./includes/personal.html'))() %>
        <section class="seo">
            <div class="block">
                <div class="block__content">
                    <h2 class="seo__title">Как создать фотореалистичный дизайн-проект от <span class="seo__numbers">1,5</span> минут?</h2>
                        <p class="seo__text">Мы с нуля научим Ваших сотрудников разрабатывать фотореалистичные дизайн-проекты по требованиям клиентов от 5 минут и редактировать уже готовые интерьера по новым размерам помещения за 1,5 минуты.</p>
                        <p class="seo__text">Обучение проводится бесплатно, для неограниченного количества сотрудников, в удобное для вас время по скайпу. Длительность одного урока – 30 минут. Курс обучения включает 12 занятий, после сдачи аттестации менеджеры получат сертификат об успешном прохождении курса.</p>
                        <p class="seo__text">Широкие возможности программы позволяют создать любое помещение и воплотить даже самую нестандартную задумку клиента. Ваши сотрудники также смогут создавать панорам и видеоролики проектов, наполнение сенсорной стойки и научатся демонстрировать разработанные проекты в VR.</p>
                </div>
                <div class="block__image">
                    <img class="block__image-item" src="<%= require('../assets/images/SECOND.jpg').default %>" alt="Как создать фотореалистичный дизайн-проект от 1,5 минут?">
                </div>
            </div>
        </section>
    </div>
<%= _.template(require('./includes/footer.html'))() %>