.recall {
    background-color: $grey-400;
    padding-top: 12px;

    &__container {
        @extend %grid-container;
        max-width: $width-base;
    }

    &__title {
        font: 600 $font-size-l $font-roboto;
        text-align: left;
        color: $ultra-400;
        line-height: 1.25;
        margin: 0;
    }

    &__text {
        font: $font-size-l $font-roboto;
        text-align: left;
        color: $ultra-400;
        line-height: 1.25;
    }

    &__images {
       @extend %grid-column;
       margin: auto;
    }

    &__item-shadow {
        margin-top: -20px
    }

}